.config/argocd
.config/helm
.config/karabiner/automatic_backups
.config/deezer-desktop
.config/configstore
.config/flutter
.config/gcloud
.config/rclone
.config/kitty/current-theme.conf
.config/tool_state
.zsh/.zsh_plugins.zsh
Google
.aider*
.env
.config/fish/fish_variables
.config/fish/fish_history
