.config/argocd
.config/helm
.config/karabiner/automatic_backups
.config/deezer-desktop
.config/configstore
.config/flutter
.config/gcloud
.config/rclone
.config/kitty/current-theme.conf
.config/kitty
.config/tool_state
.zsh/.zsh_plugins.zsh
Google
.aider*
.env
envrcs.yaml*
!dot_config/bin/
!dot_config/bin/**
